* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}

body {
  background-color: #333333;
  color: #fff;
  font-family: Roboto;
}

header {
  width: 100%;
  margin: 30px auto;
}

header h1,
header h2 {
  text-align: center;
  font-size: 2.5rem;
}

.container {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.container h6 {
  text-align: center;
  margin: 50px auto;
  font-size: 2rem;
}

.container .beleg {
  width: 60%;
  height: 60vh;
  background: rgb(214, 214, 214);
  margin: 0 auto;
}

#logo {
  position: absolute;
  right: 30px;
  top: 30px;
  height: 100px;
  width: auto;
  filter: invert(1);
}

@media (max-width: 950px) {
  .container .beleg {
    width: 85%;
  }

  #logo {
    display: none;
  }
}
